@font-face {
  font-family: 'Druk Wide Web';
  src: url(https://s3.amazonaws.com/bw-fonts/DrukWide-Super-Web.eot);
  src: url(https://s3.amazonaws.com/bw-fonts/DrukWide-Super-Web.eot?#iefix) format("embedded-opentype"), url(https://s3.amazonaws.com/bw-fonts/DrukWide-Super-Web.woff) format("woff"), url(https://s3.amazonaws.com/bw-fonts/DrukWide-Super-Web.ttf) format("truetype"), url("https://s3.amazonaws.com/bw-fonts/DrukWide-Super-Web.svg#Druk Wide Web") format("svg");
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Druk Web';
  src: url(https://s3.amazonaws.com/bw-fonts/Druk-Medium-Web.eot);
  src: url(https://s3.amazonaws.com/bw-fonts/Druk-Medium-Web.eot?#iefix) format("embedded-opentype"), url(https://s3.amazonaws.com/bw-fonts/Druk-Medium-Web.woff) format("woff"), url(https://s3.amazonaws.com/bw-fonts/Druk-Medium-Web.ttf) format("truetype"), url("https://s3.amazonaws.com/bw-fonts/Druk-Medium-Web.svg#Druk Web") format("svg");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Druk Bold Web';
  src: url(https://s3.amazonaws.com/bw-fonts/Druk-Bold-Web.eot);
  src: url(https://s3.amazonaws.com/bw-fonts/Druk-Bold-Web.eot?#iefix) format("embedded-opentype"), url(https://s3.amazonaws.com/bw-fonts/Druk-Bold-Web.woff) format("woff"), url(https://s3.amazonaws.com/bw-fonts/Druk-Bold-Web.ttf) format("truetype"), url("https://s3.amazonaws.com/bw-fonts/Druk-Bold-Web.svg#Druk Web") format("svg");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Bloomberg';
  src: url("../fonts/Bloomberg.ttf") format("truetype");
}
/* line 1, ../scss/_main.scss */
body {
  background-color: #f2f2f2;
}

/* line 5, ../scss/_main.scss */
#header-fix {
  height: 92px;
}

/* line 9, ../scss/_main.scss */
.lede, p {
  width: 50%;
  max-width: 640px;
}

/* line 14, ../scss/_main.scss */
p {
  margin: 30px auto;
  font: 18px/29px "TiemposTextWeb-Regular", "Georgia", "Cambria", "Times New Roman", "Times", serif;
  color: #3c3c3c;
}

/* line 20, ../scss/_main.scss */
em {
  font-family: "TiemposTextWeb-RegularItalic", "Georgia", "Cambria", "Times New Roman", "Times", serif;
  font-style: normal;
}

/* line 25, ../scss/_main.scss */
.icon-font {
  font-family: 'Bloomberg';
}

/* line 29, ../scss/_main.scss */
.lede, .parallax_wrapper {
  position: relative;
  z-index: 2;
}

/* line 34, ../scss/_main.scss */
.body-copy {
  z-index: 40;
  min-height: 100%;
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
  padding-top: 25px;
}
/* line 42, ../scss/_main.scss */
.body-copy strong {
  font-family: "HaasDisplayBold", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: 600;
  font-size: 20px;
}
/* line 48, ../scss/_main.scss */
.body-copy a {
  text-decoration: underline;
}
/* line 52, ../scss/_main.scss */
.body-copy .pullquote {
  font: 3em/1.2em "TiemposHeadlineWeb-Bold", "Georgia", "Cambria", "Times New Roman", "Times", serif;
  width: 70%;
  margin: 50px auto 30px;
}
/* line 58, ../scss/_main.scss */
.body-copy blockquote.twitter-tweet {
  display: inline-block;
  padding: 16px;
  margin: 10px auto;
  max-width: 640px;
  border: #ddd 1px solid;
  border-top-color: #eee;
  border-bottom-color: #bbb;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  font: bold 14px/18px Helvetica, Arial, sans-serif;
  color: #000;
}
/* line 72, ../scss/_main.scss */
.body-copy blockquote.twitter-tweet p {
  font: normal 18px/24px Georgia, "Times New Roman", Palatino, serif;
  margin: 0 5px 10px 0;
}
/* line 77, ../scss/_main.scss */
.body-copy blockquote.twitter-tweet a[href^="https://twitter.com"] {
  font-weight: normal;
  color: #666;
  font-size: 12px;
}
/* line 83, ../scss/_main.scss */
.body-copy .related-story {
  font-family: "HaasDisplayBold", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  background-color: #ddd;
  padding: 5px 13px;
  width: 50%;
  margin-left: auto;
  margin-top: 50px;
  text-align: left;
  line-height: 26px;
}
/* line 93, ../scss/_main.scss */
.body-copy .related-story .tout {
  font-family: "HaasText", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 16px;
}
/* line 100, ../scss/_main.scss */
.body-copy .tweet-embed {
  margin: 0 auto;
  width: 50%;
  max-width: 640px;
}
/* line 106, ../scss/_main.scss */
.body-copy .number-style {
  margin: 0 auto;
  width: 50%;
}
/* line 110, ../scss/_main.scss */
.body-copy .number-style .big-number {
  font: 3em/1.2em "TiemposHeadlineWeb-Bold", "Georgia", "Cambria", "Times New Roman", "Times", serif;
  width: 28%;
  float: left;
  margin-top: 0;
}
/* line 117, ../scss/_main.scss */
.body-copy .number-style .number-desc {
  padding-left: 15%;
}

/* line 124, ../scss/_main.scss */
hr {
  height: 1px;
  background-color: #000;
  border: none;
  width: 20%;
  margin: 0 0 3em;
}

/* line 132, ../scss/_main.scss */
.overlay {
  position: fixed;
  top: 0;
  z-index: 1000;
  display: none;
  overflow: auto;
  width: 100%;
  height: 100%;
  background: #fff;
}
/* line 142, ../scss/_main.scss */
.overlay h1, .overlay p {
  color: #fff;
}
/* line 146, ../scss/_main.scss */
.overlay .menu-item {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  text-decoration: none;
  width: 15%;
}
/* line 153, ../scss/_main.scss */
.overlay .menu-item .menu-number {
  font: 5em "HaasDisplayBold", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  color: #ddd;
  margin: 0;
  width: 100%;
}
/* line 160, ../scss/_main.scss */
.overlay .menu-item .menu-name {
  font: 1.4em "HaasDisplayBold", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  color: #000;
  margin: -20% 0 0 0;
  width: 100%;
}

/* line 169, ../scss/_main.scss */
.img_right.adunit {
  width: 300px;
  height: 250px;
  background-color: #ddd;
}

/* line 175, ../scss/_main.scss */
.bannerbox {
  width: 100%;
  height: 112px;
  position: relative;
  background-color: #ddd;
}

/* line 181, ../scss/_main.scss */
.bannerbox .container {
  width: 728px;
  height: 90px;
  background-color: #fff;
  margin: 0 auto;
  top: 10px;
  position: relative;
}

/* line 190, ../scss/_main.scss */
.section-break {
  margin-top: 75px;
}

/* line 194, ../scss/_main.scss */
.section-break:first-line {
  font-family: 'HaasTextBold', Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: #000;
}

/*HEADER*/
/* line 203, ../scss/_main.scss */
#subheader {
  background-color: #f2f2f2;
  font: 16px "HaasDisplayBold", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  text-align: left;
  height: initial;
  padding: 10px 0;
  border-bottom: 1px solid #c1c1c1;
  z-index: 11;
  width: 100%;
  -webkit-transition: all 0.3s ease-out 0.1s;
  -moz-transition: all 0.3s ease-out 0.1s;
  transition: all 0.3s ease-out 0.1s;
}
/* line 215, ../scss/_main.scss */
#subheader p {
  color: #000;
  margin: 0 10px;
  font: 16px "HaasDisplayBold", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  display: inline;
}
/* line 222, ../scss/_main.scss */
#subheader .markets-logo {
  margin-left: 60px;
  vertical-align: baseline;
}
/* line 227, ../scss/_main.scss */
#subheader a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  margin: 0 10px;
}
/* line 232, ../scss/_main.scss */
#subheader a:hover {
  color: black;
}
/* line 237, ../scss/_main.scss */
#subheader .active {
  color: black;
}
/* line 241, ../scss/_main.scss */
#subheader .menu-btn {
  text-align: right;
  float: right;
  margin-right: 30px;
}

/* line 252, ../scss/_main.scss */
.hero-text {
  width: 60%;
  margin: 0 auto;
  padding-top: 350px;
  text-align: center;
}
/* line 258, ../scss/_main.scss */
.hero-text h1 {
  font: 100px/100px "Druk Web", sans-serif;
  margin: 20px 0;
  color: #ffffff;
}
/* line 264, ../scss/_main.scss */
.hero-text .dek {
  text-align: center;
  padding: 0;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.65);
}

/*IMAGES*/
/* line 273, ../scss/_main.scss */
figure {
  width: 100%;
}
/* line 276, ../scss/_main.scss */
figure img {
  max-width: 100%;
}

/* line 281, ../scss/_main.scss */
figcaption {
  color: #3c3c3c;
  font: 0.9em "HaasText", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}
/* line 285, ../scss/_main.scss */
figcaption strong {
  font-family: "HaasDisplayBold", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: 600;
}

/* line 291, ../scss/_main.scss */
.img_full {
  width: 90%;
  max-width: 970px;
  margin: 0 auto 3rem;
}
/* line 296, ../scss/_main.scss */
.img_full img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

/* line 303, ../scss/_main.scss */
.img_left, .img_right {
  max-width: 360px;
  width: auto;
}

/* line 308, ../scss/_main.scss */
.img_left {
  float: left;
  margin: 0.5rem 5rem 3rem 10%;
}

/* line 313, ../scss/_main.scss */
.img_right {
  float: right;
  margin: 0.5rem 10% 3rem 5rem;
}

/* line 319, ../scss/_main.scss */
.slide_img img {
  width: 100%;
}

/* line 324, ../scss/_main.scss */
.slide-social {
  font-family: 'Bloomberg';
  color: #000;
  font-size: 16px;
}

/* line 330, ../scss/_main.scss */
.photo-info {
  border-bottom: 1px solid #ddd;
  margin-top: 10px;
}

/* line 335, ../scss/_main.scss */
.credit {
  font-size: 0.8em;
  font-family: "HaasText", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #999;
}

/*VIDEO*/
/* line 344, ../scss/_main.scss */
.video-section {
  margin-bottom: 1.5em;
}
/* line 348, ../scss/_main.scss */
.video-section video {
  min-width: 100%;
}

/* line 354, ../scss/_main.scss */
.video-player {
  background-color: #000;
  width: 100%;
}
/* line 358, ../scss/_main.scss */
#video-wrapper .video-player {
  width: 100vw;
  position: relative;
  background-color: #000;
  display: block;
}

/* line 366, ../scss/_main.scss */
.video-js {
  margin: 0 auto;
  min-width: 970px;
  min-height: 546px;
  display: block;
}

/* line 378, ../scss/_main.scss */
.player .video-wrapper .video {
  height: auto !important;
}

/* line 382, ../scss/_main.scss */
.player .target {
  height: auto !important;
}

/* line 386, ../scss/_main.scss */
.safari-video {
  display: none;
  max-width: 970px;
  margin: 0 auto;
}
/* line 391, ../scss/_main.scss */
.safari-video img {
  width: 100%;
}
/* line 395, ../scss/_main.scss */
.safari-video .watch-video {
  background-color: #000;
  width: 20%;
  padding: 10px;
  color: #ffffff;
  font: 20px "HaasDisplayBold", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  text-align: center;
  margin: -20% auto 20%;
  z-index: 50;
  position: relative;
}

/*TERMINAL*/
/* line 411, ../scss/_main.scss */
.terminal a {
  text-decoration: none;
}
/* line 416, ../scss/_main.scss */
.terminal .slide .body-copy a {
  text-decoration: none;
}
/* line 421, ../scss/_main.scss */
.terminal .video-player, .terminal .video-section, .terminal .safari-video, .terminal .box-unit, .terminal .related-story {
  display: none;
}
/* line 425, ../scss/_main.scss */
.terminal .video-section:after {
  content: none;
}
/* line 429, ../scss/_main.scss */
.terminal .slide-social {
  display: none;
}

/* line 1, ../scss/partials/_page-style.scss */
#main-wrapper, #slider, #wrapper-slides, .slide {
  padding: 0;
  margin: 0;
  position: relative;
}

/* line 7, ../scss/partials/_page-style.scss */
#video-wrapper {
  width: 100vw;
  position: relative;
  background-color: #000;
  display: block;
}
/* line 14, ../scss/partials/_page-style.scss */
#video-wrapper .video-player {
  display: none;
  position: relative;
  left: 0;
  min-height: 800px;
  padding-top: 0;
}

/* line 24, ../scss/partials/_page-style.scss */
#slider {
  width: 100%;
  overflow: hidden;
  -webkit-transform: translate(0, 0) scale3d(1, 1, 1);
  -moz-transform: translate(0, 0) scale3d(1, 1, 1);
  -ms-transform: translate(0, 0) scale3d(1, 1, 1);
  -o-transform: translate(0, 0) scale3d(1, 1, 1);
  transform: translate(0, 0) scale3d(1, 1, 1);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 32, ../scss/partials/_page-style.scss */
.slide {
  display: block;
  width: 100%;
  opacity: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
}
/* line 43, ../scss/partials/_page-style.scss */
.slide h2 {
  font: 70px/68px "Druk Web", sans-serif;
}
/* line 47, ../scss/partials/_page-style.scss */
.slide h3 {
  font: 38px/44px "HaasDisplayBold", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  width: 50%;
  max-width: 640px;
  margin: 30px auto 15px;
}
/* line 54, ../scss/partials/_page-style.scss */
.slide a {
  color: inherit;
  text-decoration: none;
}
/* line 60, ../scss/partials/_page-style.scss */
.slide .body-copy a {
  text-decoration: underline;
}
/* line 65, ../scss/partials/_page-style.scss */
.slide .body-copy .related-story a {
  text-decoration: none;
}
/* line 71, ../scss/partials/_page-style.scss */
.slide .slide-byline {
  font-family: "HaasTextBold", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 19px;
  color: #888;
  margin-top: 15px;
  padding-bottom: 6px;
  border-bottom: 1px solid #ccc;
}

/* line 82, ../scss/partials/_page-style.scss */
.slide-selected {
  position: relative;
  opacity: 1;
}

/*ARROWS*/
/* line 89, ../scss/partials/_page-style.scss */
#nav-previous,
#nav-next {
  position: fixed;
  top: 0;
  width: 5%;
  height: 100%;
  cursor: pointer;
}
/* line 97, ../scss/partials/_page-style.scss */
#nav-previous span,
#nav-next span {
  position: absolute;
  top: 41.4%;
  opacity: 0.15;
  font-size: 5em;
  width: 60px;
  height: 214px;
}
/* line 105, ../scss/partials/_page-style.scss */
#nav-previous span:hover,
#nav-next span:hover {
  opacity: 0.7;
}
/* line 109, ../scss/partials/_page-style.scss */
#nav-previous span p,
#nav-next span p {
  display: none;
}

/* line 116, ../scss/partials/_page-style.scss */
#nav-previous, #nav-previous span {
  left: 0;
}

/* line 120, ../scss/partials/_page-style.scss */
#nav-next, #nav-next span {
  right: 0;
}

/* line 124, ../scss/partials/_page-style.scss */
#nav-previous img {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 128, ../scss/partials/_page-style.scss */
.next-story {
  margin: 50px auto;
  width: 70%;
}
/* line 132, ../scss/partials/_page-style.scss */
.next-story p {
  font-family: "HaasDisplayBold", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 24px;
  color: #000;
  text-align: center;
  width: 100%;
  max-width: 100%;
}
/* line 140, ../scss/partials/_page-style.scss */
.next-story p .prev, .next-story p .next {
  font-family: 'Bloomberg';
  margin-top: 3px;
  font-size: 18px;
}
/* line 146, ../scss/partials/_page-style.scss */
.next-story p .caps {
  font-family: 'HaasText';
  font-size: 18px;
}
/* line 151, ../scss/partials/_page-style.scss */
.next-story p .horiz {
  font-family: 'HaasText';
  color: #ccc;
  padding: 0 10px;
}

/* line 159, ../scss/partials/_page-style.scss */
.body-copy + .next-story {
  border-top: 4px solid #ddd;
}

/* line 163, ../scss/partials/_page-style.scss */
.photo-byline {
  margin-top: 10px;
  font: 1em/ 1.53em 'HaasText', 'Helvetica';
  color: #888;
}

/*HERO IMAGES*/
/* line 171, ../scss/partials/_page-style.scss */
.hero-module {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

/* line 179, ../scss/partials/_page-style.scss */
#slide-zero {
  width: 100%;
  background-color: #ebebeb;
  background-image: url("../img/50Final03.jpg");
  background-position: center 2%;
  background-repeat: no-repeat;
  background-size: 75%;
}
/* line 187, ../scss/partials/_page-style.scss */
#slide-zero .lede-content, #slide-zero .dek, #slide-zero .illo-byline, #slide-zero .start-btn, #slide-zero .byline {
  color: #000;
}
/* line 191, ../scss/partials/_page-style.scss */
#slide-zero .lede-content {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding: 49% 0 10%;
}
/* line 198, ../scss/partials/_page-style.scss */
#slide-zero h1 {
  font: 78px/84px "HaasDisplayBold", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  text-align: center;
  padding: 15px 0 10px;
  margin-bottom: 30px;
  margin-top: 0;
}
/* line 206, ../scss/partials/_page-style.scss */
#slide-zero .dek {
  font: 24px/32px "TiemposTextWeb-Regular", "Georgia", "Cambria", "Times New Roman", "Times", serif;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-color: transparent;
  max-width: 850px;
}
/* line 214, ../scss/partials/_page-style.scss */
#slide-zero .dek p {
  width: 100%;
  max-width: 100%;
}
/* line 218, ../scss/partials/_page-style.scss */
#slide-zero .dek p:first-of-type {
  font-size: 22px;
  line-height: 34px;
}
/* line 224, ../scss/partials/_page-style.scss */
#slide-zero .dek .color-code {
  width: 30%;
  display: inline-block;
  vertical-align: middle;
  min-height: 40px;
  font: 20px "HaasDisplayBold", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  padding: 10px;
  margin: 10px;
}
/* line 234, ../scss/partials/_page-style.scss */
#slide-zero .dek .start-btn {
  font: 18px "HaasDisplayBold", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  background-color: #000;
  color: #ffffff;
  padding: 20px;
  width: 28%;
  margin-top: 3%;
  margin-left: 10px;
}
/* line 245, ../scss/partials/_page-style.scss */
#slide-zero .illo-byline {
  font: 18px/22px "TiemposHeadlineWeb-Bold", "Georgia", "Cambria", "Times New Roman", "Times", serif;
  margin: 20px auto 60px;
  max-width: 800px;
}
/* line 251, ../scss/partials/_page-style.scss */
#slide-zero .byline {
  font-weight: 600;
}

/* line 257, ../scss/partials/_page-style.scss */
#slide-two .img_full {
  max-width: 1000px;
}

/*--- LEDE W/SMALL IMG ---*/
/* line 265, ../scss/partials/_page-style.scss */
.lede-small-img {
  width: 100%;
  height: auto;
  position: relative;
  margin: 0;
  padding: 2% 0;
  border-bottom: 8px solid #000;
}
/* line 273, ../scss/partials/_page-style.scss */
.lede-small-img.blue {
  background-color: #6dcff6;
}
/* line 277, ../scss/partials/_page-style.scss */
.lede-small-img.purple {
  background-color: #b887be;
}
/* line 281, ../scss/partials/_page-style.scss */
.lede-small-img.green {
  background-color: #a1cd54;
}
/* line 285, ../scss/partials/_page-style.scss */
.lede-small-img.pink {
  background-color: #f5888b;
}
/* line 289, ../scss/partials/_page-style.scss */
.lede-small-img.orange {
  background-color: #faa14f;
}
/* line 293, ../scss/partials/_page-style.scss */
.lede-small-img.teal {
  background-color: #3fbeb2;
}
/* line 297, ../scss/partials/_page-style.scss */
.lede-small-img .lede-img {
  width: 45%;
  display: block;
  position: absolute;
  bottom: 0;
  right: 7%;
}
/* line 305, ../scss/partials/_page-style.scss */
.lede-small-img .lede-content {
  width: 40%;
  margin: 12% auto 0 15%;
  position: relative;
  z-index: 1;
  font-family: "HaasDisplayBold", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}
/* line 312, ../scss/partials/_page-style.scss */
.lede-small-img .lede-content h1 {
  color: #000;
  display: inline;
  font-size: 4em;
}
/* line 318, ../scss/partials/_page-style.scss */
.lede-small-img .lede-content .number {
  color: rgba(0, 0, 0, 0.15);
  font-size: 14em;
  font-family: "HaasDisplayBold", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  margin: 0;
}
/* line 325, ../scss/partials/_page-style.scss */
.lede-small-img .lede-content .title {
  display: inline;
  text-align: left;
  font-family: "HaasText", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1.3em;
}
/* line 332, ../scss/partials/_page-style.scss */
.lede-small-img .lede-content .blurb {
  font-family: "TiemposTextWeb-Regular", "Georgia", "Cambria", "Times New Roman", "Times", serif;
  font-size: 1.3em;
  line-height: 1.5em;
  margin: 20px 0;
  width: 90%;
}
/* line 339, ../scss/partials/_page-style.scss */
.lede-small-img .lede-content .blurb strong {
  font-family: "HaasDisplayBold", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}
/* line 344, ../scss/partials/_page-style.scss */
.lede-small-img .lede-content .byline-feat {
  font-family: "HaasDisplayBold", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  color: #000;
  margin: 5px 0;
  background-color: #ffffff;
  display: inline;
}

/*--- VIDEO LEDE ---*/
/*------------ VIDEO STYLES ------------*/
/* line 364, ../scss/partials/_page-style.scss */
.terminal video {
  display: none;
}

/* line 368, ../scss/partials/_page-style.scss */
.dek {
  text-align: left;
  background-color: #ffffff;
  width: 100%;
}

/* line 374, ../scss/partials/_page-style.scss */
.mobile-lede {
  display: none;
}

/* line 379, ../scss/partials/_page-style.scss */
.lede, .parallax_wrapper {
  position: relative;
  z-index: 2;
}

/* line 385, ../scss/partials/_page-style.scss */
.mobile-lede, .video-player {
  display: none;
}

@media screen and (max-width: 760px) {
  /* line 3, ../scss/mediaqueries/_mobile.scss */
  #header-fix {
    height: 92px;
  }

  /* line 7, ../scss/mediaqueries/_mobile.scss */
  hr {
    margin-bottom: 2em;
  }

  /* line 11, ../scss/mediaqueries/_mobile.scss */
  .img_right, .img_left {
    max-width: 90%;
    float: none;
    text-align: center;
    margin: 20px;
  }

  /* line 19, ../scss/mediaqueries/_mobile.scss */
  .img_right.adunit {
    margin-left: 10px;
  }

  /* line 24, ../scss/mediaqueries/_mobile.scss */
  .img_full {
    width: 90%;
    margin: 2em auto;
  }

  /* line 29, ../scss/mediaqueries/_mobile.scss */
  figcaption {
    font-size: 0.8em;
    color: #888;
  }

  /* line 36, ../scss/mediaqueries/_mobile.scss */
  #nav-previous span, #nav-next span {
    width: 35px;
  }

  /* line 42, ../scss/mediaqueries/_mobile.scss */
  #main .lede, #main p {
    width: 90%;
    margin: 0 auto 1em;
  }
  /* line 48, ../scss/mediaqueries/_mobile.scss */
  #main .lede p {
    width: 100%;
  }
  /* line 51, ../scss/mediaqueries/_mobile.scss */
  #main .lede p + p {
    margin-top: 0.325em;
  }
  /* line 58, ../scss/mediaqueries/_mobile.scss */
  #main .lede-small-img .lede-img {
    bottom: inherit;
    width: 55%;
  }
  /* line 62, ../scss/mediaqueries/_mobile.scss */
  #main .lede-small-img .lede-content {
    width: 80%;
    margin-top: 30%;
  }
  /* line 66, ../scss/mediaqueries/_mobile.scss */
  #main .lede-small-img .lede-content .number {
    margin: 0;
    font-size: 8em;
  }
  /* line 71, ../scss/mediaqueries/_mobile.scss */
  #main .lede-small-img .lede-content h1 {
    font-size: 2em;
  }
  /* line 75, ../scss/mediaqueries/_mobile.scss */
  #main .lede-small-img .lede-content .title, #main .lede-small-img .lede-content .blurb {
    font-size: 1em;
  }
  /* line 82, ../scss/mediaqueries/_mobile.scss */
  #main .slide {
    margin-bottom: 60px;
  }
  /* line 85, ../scss/mediaqueries/_mobile.scss */
  #main .slide h2 {
    font-size: 48px;
    line-height: 48px;
  }
  /* line 90, ../scss/mediaqueries/_mobile.scss */
  #main .slide h3, #main .slide p {
    width: 90%;
  }
  /* line 94, ../scss/mediaqueries/_mobile.scss */
  #main .slide h3 {
    font-size: 28px;
    line-height: 34px;
  }
  /* line 99, ../scss/mediaqueries/_mobile.scss */
  #main .slide .slide-byline {
    font-size: 16px;
  }
  /* line 104, ../scss/mediaqueries/_mobile.scss */
  #main .video-js {
    min-width: 320px;
    min-height: 180px;
  }
  /* line 110, ../scss/mediaqueries/_mobile.scss */
  #main .overlay .menu-item {
    width: 40%;
  }
  /* line 113, ../scss/mediaqueries/_mobile.scss */
  #main .overlay .menu-item .menu-number {
    font-size: 3.5em;
    margin-bottom: inherit;
  }
  /* line 118, ../scss/mediaqueries/_mobile.scss */
  #main .overlay .menu-item .menu-name {
    font-size: 1.2em;
    margin-bottom: 0;
    margin-top: -1.3em;
  }

  /* line 127, ../scss/mediaqueries/_mobile.scss */
  #slide-zero {
    background-position-y: 2%;
    background-size: 90%;
  }
  /* line 131, ../scss/mediaqueries/_mobile.scss */
  #slide-zero .lede-content {
    bottom: 20%;
    padding-top: 65%;
  }
  /* line 136, ../scss/mediaqueries/_mobile.scss */
  #slide-zero h1 {
    font-size: 28px;
    line-height: 34px;
    padding: 15px 0 10px;
    margin-bottom: 30px;
  }
  /* line 143, ../scss/mediaqueries/_mobile.scss */
  #slide-zero .dek {
    font-size: 20px;
    line-height: 28px;
  }
  /* line 147, ../scss/mediaqueries/_mobile.scss */
  #slide-zero .dek p {
    width: 100%;
  }
  /* line 150, ../scss/mediaqueries/_mobile.scss */
  #slide-zero .dek p:first-of-type {
    font-size: 19px;
    line-height: 29px;
  }
  /* line 156, ../scss/mediaqueries/_mobile.scss */
  #slide-zero .dek .start-btn {
    width: 80%;
  }
  /* line 160, ../scss/mediaqueries/_mobile.scss */
  #slide-zero .dek .color-code {
    font-size: 16px;
  }
  /* line 165, ../scss/mediaqueries/_mobile.scss */
  #slide-zero .illo-byline {
    font-size: 14px;
    line-height: 16px;
    margin: 20px auto 60px;
    max-width: 100%;
  }
  /* line 172, ../scss/mediaqueries/_mobile.scss */
  #slide-zero .start-btn {
    font-size: 14px;
  }

  /* line 179, ../scss/mediaqueries/_mobile.scss */
  .video-section video {
    display: none;
  }

  /* line 185, ../scss/mediaqueries/_mobile.scss */
  .photo-byline span {
    display: block;
  }

  /* line 191, ../scss/mediaqueries/_mobile.scss */
  .video-player, .lede .text_divider {
    display: none;
  }

  /* line 195, ../scss/mediaqueries/_mobile.scss */
  .mobile-lede {
    display: block;
    width: 100%;
    margin: -25px 0 20px 0;
  }

  /* line 202, ../scss/mediaqueries/_mobile.scss */
  #header, .video-player, .lede .text_divider {
    display: none;
  }

  /* line 206, ../scss/mediaqueries/_mobile.scss */
  #subheader {
    font-size: 13px;
  }
  /* line 209, ../scss/mediaqueries/_mobile.scss */
  #subheader .hashtag {
    display: none;
  }

  /* line 214, ../scss/mediaqueries/_mobile.scss */
  .next-story {
    display: none;
  }

  /* line 218, ../scss/mediaqueries/_mobile.scss */
  #nav-previous,
  #nav-next {
    bottom: 0;
    width: 50%;
    height: 30px;
    top: inherit;
    background-color: #ffffff;
    border: 2px solid #ddd;
  }
  /* line 227, ../scss/mediaqueries/_mobile.scss */
  #nav-previous span,
  #nav-next span {
    top: 15%;
    opacity: 1;
  }
  /* line 231, ../scss/mediaqueries/_mobile.scss */
  #nav-previous span img,
  #nav-next span img {
    display: none;
  }
  /* line 235, ../scss/mediaqueries/_mobile.scss */
  #nav-previous span p,
  #nav-next span p {
    display: block;
  }

  /* line 243, ../scss/mediaqueries/_mobile.scss */
  #nav-next span p {
    text-align: right;
  }
}
@media screen and (max-width: 1023px) {
  /* line 3, ../scss/mediaqueries/_tablet.scss */
  .lede, p, .slide h3 {
    width: 80%;
  }

  /* line 7, ../scss/mediaqueries/_tablet.scss */
  p {
    font-size: 16px;
    line-height: 26px;
  }

  /* line 14, ../scss/mediaqueries/_tablet.scss */
  .body-copy .pullquote {
    font-size: 2.4em;
    width: 80%;
  }
  /* line 19, ../scss/mediaqueries/_tablet.scss */
  .body-copy .related-story {
    width: 80%;
  }

  /* line 25, ../scss/mediaqueries/_tablet.scss */
  .img_right {
    margin-bottom: 2rem;
    margin-left: 2rem;
  }

  /* line 30, ../scss/mediaqueries/_tablet.scss */
  .img_left {
    margin-bottom: 2rem;
    margin-right: 2rem;
  }

  /* line 35, ../scss/mediaqueries/_tablet.scss */
  .parallax_wrapper {
    overflow: visible;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    -webkit-transform-style: initial;
    -moz-transform-style: initial;
    -ms-transform-style: initial;
    -o-transform-style: initial;
    transform-style: initial;
  }
  /* line 40, ../scss/mediaqueries/_tablet.scss */
  .parallax_wrapper .slide_img {
    position: relative;
  }

  /* line 46, ../scss/mediaqueries/_tablet.scss */
  .lede-small-img .lede-content {
    margin-left: 12%;
    width: 45%;
  }
  /* line 50, ../scss/mediaqueries/_tablet.scss */
  .lede-small-img .lede-content .number {
    font-size: 10em;
  }
  /* line 53, ../scss/mediaqueries/_tablet.scss */
  .lede-small-img .lede-content h1 {
    font-size: 3em;
  }
  /* line 56, ../scss/mediaqueries/_tablet.scss */
  .lede-small-img .lede-content .blurb {
    font-size: 1.1em;
  }

  /* line 62, ../scss/mediaqueries/_tablet.scss */
  .next-story {
    width: 80%;
  }
  /* line 65, ../scss/mediaqueries/_tablet.scss */
  .next-story p {
    font-size: 18px;
  }

  /* line 72, ../scss/mediaqueries/_tablet.scss */
  .video-section video {
    min-height: initial;
  }

  /* line 77, ../scss/mediaqueries/_tablet.scss */
  .video-js {
    min-width: 760px;
    min-height: 428px;
  }

  /* line 84, ../scss/mediaqueries/_tablet.scss */
  #subheader .markets-logo {
    margin-left: 10px;
  }
  /* line 88, ../scss/mediaqueries/_tablet.scss */
  #subheader .menu-btn {
    margin-right: 10px;
  }

  /* line 95, ../scss/mediaqueries/_tablet.scss */
  .overlay .menu-item {
    width: 20%;
  }
  /* line 98, ../scss/mediaqueries/_tablet.scss */
  .overlay .menu-item .menu-number {
    font-size: 3.5em;
  }
  /* line 102, ../scss/mediaqueries/_tablet.scss */
  .overlay .menu-item .menu-name {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1359px) {
  /* line 6, ../scss/mediaqueries/_desktop.scss */
  .lede-small-img .lede-content .number {
    font-size: 12em;
  }
  /* line 10, ../scss/mediaqueries/_desktop.scss */
  .lede-small-img .lede-content h1 {
    font-size: 3.7em;
  }

  /* line 17, ../scss/mediaqueries/_desktop.scss */
  .lede-full-width-img .lede-content {
    margin-top: -30%;
  }
  /* line 20, ../scss/mediaqueries/_desktop.scss */
  .lede-full-width-img .lede-content .number {
    font-size: 12em;
  }
  /* line 24, ../scss/mediaqueries/_desktop.scss */
  .lede-full-width-img .lede-content h1 {
    font-size: 3.7em;
  }
}
