// colors

$blue: #2800D7; 
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$text-black: #3c3c3c;
$quote-color: rgba(20, 28, 82, 0.8);
$black: #000;
$white: #ffffff; 


$light-blue: #6dcff6;
$green: #a1cd54;
$purple: #b887be;
$pink: #f5888b;
$orange: #faa14f;
$teal: #3fbeb2;

// fonts 

$primary-font: 'Open Sans', sans-serif;